/* 
    Document   : accordionDivs
    Created on : Oct 23, 2013, 12:07:45 PM
    Author     : tluasduffield
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#accordion {
   /*border:1px solid gainsboro;*/
   margin:0 auto;
}

#accordion h3 {
    background: lightgrey;
    position: relative;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: auto;
    line-height: 14px;
    margin-bottom: 0;
    padding: 5px 15px;
    border: 1px solid lightgray;
    cursor:pointer;
}

#accordion h3.current{
    cursor: default;
    /*background-color: dimgrey;*/
}

#header {
    background-color: lightgrey;
    position: relative;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

th {
    padding: 4px;
    text-decoration: underline;
}

.pane {
    border:1px solid #fff;
    border-width: 0 2px;
    /*display:none;*/
    height: auto;
    padding:15px;
    color:#fff;
}

.accordion-item h3 a { display: block; text-align: left; color: #282828; text-decoration: none; }
.accordion-item .content { display: none; } /* was none */

:target .content { display: block; }
