/* 
    Document   : accordionContent
    Created on : Nov 20, 2013, 12:30:56 PM
    Author     : tluasduffield
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.AccordionTitle, .AccordionContent, .AccordionContainer
{
  position:relative;
  width:100%;
  
}

.AccordionTitle
{
  height:25px;
  width: 100%;
  overflow:hidden;
  cursor:pointer;
  font-family: "Trebuchet MS", verdana, sans-serif;
  font-size:14pt;
  font-weight:bold;
  vertical-align:middle;
  text-align:left;
  background-repeat:repeat-x;
  /*display:table-cell;  this keeps "Title" sections to just the width of the text  */
  -moz-user-select:none;
  padding-left: 8px;
  background-color: lightgrey;
  border-bottom: solid 5px white;
  
}

.AccordionContent
{
  height:0px;
  overflow:auto;
  display:none; 
  background-color: white;
}

.AccordionContainer
{
  /*border-top: solid 1px gainsboro;
  border-bottom: solid 1px gainsboro;
  border-left: solid 2px gainsboro;
  border-right: solid 2px gainsboro;*/
}
