/*
    Document   : accordionContent
    Created on : Nov 20, 2013, 12:30:56 PM
    Author     : tluasduffield
    Description:
        Formatting for Accordion Lists on subjectList.php and subjects.php
*/

root {
    display: block;
}

.AccordionTitle, .AccordionContent, .AccordionContainer
{
  position:relative;
  width:100%;

}

.AccordionTitle
{
  height:25px;
  width: 100%;
  overflow:hidden;
  cursor:pointer;
  font-family: "Trebuchet MS", verdana, sans-serif;
  font-size:14pt;
  font-weight:bold;
  vertical-align:middle;
  text-align:left;
  background-repeat:repeat-x;
  -moz-user-select:none;
  padding-left: 8px;
  background-color: lightgrey;
  border-bottom: solid 5px white;

}

.AccordionContent
{
  height:0px;
  overflow:auto;
  display:none;
  background-color: white;
}
h2
{
  font-family: "Trebuchet MS", verdana, sans-serif;
  font-size:20pt;
  font-weight:bold;
}


table {
    border-collapse: collapse;
    border: 3px black solid;
    text-align: center;
    font-family: "Trebuchet MS", verdana, sans-serif;
    width: 100%; margin: 0; float: none;
}

tfoot td {
   width: 93%;
   text-align: left;
   font-size: 10.5pt;
   font-family: "Trebuchet MS", verdana, sans-serif;
   border: 3px black solid;
   padding: 3px 0px 3px 4px;
}

th {
    background-color: gainsboro;
    color: indigo;
    font-size: 13pt;
    vertical-align: bottom;
    padding: 10px 5px 5px 5px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

/***************ROWS*****************/
tr {
    border-bottom-style: solid;
    border-bottom-color: darkgray;
    border-bottom-width: thin;
}

#update {
    float: right;
    padding-top: 10px;
    padding-right: 100px;
}

#update2 {
    float: right;
    padding-top: 10px;
    padding-right: 100px;
}

#update3 {
    float: right;
    padding-top: 10px;
    padding-right: 100px;
}

#logout {
    text-align: right;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}
